<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jiaohe.sakamichi.xinzhiying">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".global.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.acitivity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.acitivity.LoginActivity"
            android:theme="@style/LoginTheme"
            >
        </activity>
        <activity android:name=".ui.acitivity.RegActivity">
        </activity>
        <activity android:name=".ui.acitivity.ForgetActivity">
        </activity>
        <activity android:name=".ui.acitivity.MainActivity">
        </activity>
        <activity android:name=".ui.acitivity.SettingActivity">
        </activity>
        <activity android:name=".ui.acitivity.QRCodeActivity">
        </activity>
        <activity android:name=".ui.acitivity.ScanActivity">
        </activity>
        <activity android:name=".ui.acitivity.ChangeNameActivity">
        </activity>
        <activity android:name=".ui.acitivity.ChangeSignatureActivity">
            
        </activity>
    </application>

</manifest>